.playbutton {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);

  color: rgba(255, 255, 255, 0.6) !important;
  background-color: rgba(0, 0, 0, 0.3);
  // color: rgba(255, 255, 255, 0);
  transition: all 0.2s;
  cursor: pointer;
  border-radius: 50%;
  &:hover {
    opacity: 0.6 !important;
  }
}
